/* Color */
$white = #FFF
$black = #000
$grey-dark = #24292e
$grey-lighter = #f6f8fa
$grey-light = #f4f4f4
$grey-border = #dcddde
$blue-bright = #0366d6
$grey-border-light = #eaecef
$grey = #c6cbd1

$screen-sm = 414px

/* font */
$font-family-main = -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$font-family-code = "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
$border-radius = 3px

$border-grey = 1px solid $grey-border
$border-grey-light = 1px solid $grey-border-light

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n