.footer
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #586069;
  border-top: 1px solid #eaecef
  &-social-link
    margin: 0 0 0 -10px
    padding: 0
    list-style: none
    li
      display: inline-block
      line-height: 16px
      margin-left: 10px
  &-logo
    position: absolute
    top: 30px
    left: 50%
    margin-left: -12px
    font-size: 24px
    color: #c6cbd1
    font-size: 28px
    &:link, &:visited
      color: #c6cbd1
    &:hover
      color: #959da5
