.footer
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #586069;
  border-top: 1px solid #eaecef
  @media (max-width: $screen-sm)
    padding: 15px
    color: #959da5
    text-align: center
  &-social-link
    margin: 0 0 0 -10px
    padding: 0
    list-style: none
    float: left
    @media (max-width: $screen-sm)
      float: none
    li
      display: inline-block
      line-height: 16px
      margin-left: 10px

  &-theme-info
    float: right
    @media (max-width: $screen-sm)
      float: none

  &-logo
    position: absolute
    top: 30px
    left: 50%
    margin-left: -12px
    font-size: 24px
    color: #c6cbd1
    font-size: 28px
    &:link, &:visited
      color: #c6cbd1
    &:hover
      color: #959da5
    @media (max-width: $screen-sm)
      margin: 0
      display: block
      position: relative
      top: 0
      left: 0
      font-size: 37px
