<nav>
  <div class="container">
    <a href="<%= config.root %>" class="site-logo"><i class="fa fa-github"></i></a>
    <div class="site-search">
      <form>
        <label class="form-control">
          <span class="scope-badge">This website</span>
          <input type="text" placeholder="Search">
        </label>
      </form>
    </div>
    <ul>
      <% if(theme.menu.archives){ %>
      <li><a href="<%= url_for(theme.archive_dir) %>">Archives</a></li>
      <% } %>
      <% if(theme.menu.categories){ %>
      <li><a href="<%= url_for(theme.category_dir) %>">Categories</a></li>
      <% } %>
      <% if(theme.menu.tags){ %>
      <li><a href="<%= url_for(theme.tag_dir) %>">Tags</a></li>
      <% } %>
      <li><a href="./atom.xml">RSS</a></li>
    </ul>
  </div>
</nav>
